<div class="bg-dark w-100">
  <div class="container">
    <nav class="p-3">
     <a routerLink="/" > <h3 class="navbar-brand text-light text-center w-100">
      Electronic Medical Record ( Web App )
     </h3></a>
    </nav>
  </div>
</div>

<div class="container-fluid" >
  <div class="container">
    <div class="row d-flex justify-content-md-center align-items-center high" >
      <div class="col-xs-12 col-md-5 border m-1  button-box">
        <a routerLink='/healthworker'>
        <div class="d-flex justify-content-md-center align-items-center h-100">
          <h4 class="text-center w-100">
            For Health Facility Worker
          </h4>
        </div>
      </a>
      </div>
      <div class="col-xs-12 col-md-5 border m-1  button-box">
        <a routerLink='/patient'>
        <div class="d-flex justify-content-md-center align-items-center h-100">
          <h4 class="text-center w-100">
            For Patient
          </h4>
        </div>
      </a>
      </div>
    </div>
  </div>
</div>
