<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <div class="container text-light">
    <div class="text-light">
      <span><a class="text-light" routerLink='/healthworker'>Home</a></span>&nbsp;| &nbsp;
      <span><a class="text-light" routerLink='/healthworker/register'>New Health Worker</a></span>&nbsp;| &nbsp;
      <span><a class="text-light" routerLink='/healthworker/newpatient'>New Patient</a></span>&nbsp;| &nbsp;
      <!-- <span><a class="text-light" routerLink='/healthworker/newpatient'>New Patient Encounter</a></span>&nbsp;| &nbsp; -->
    </div>
  </div>
</nav>
